/*Скидування дефолтних налаштувань по методу Еріка Меєра*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
  color: black;
}
/*********Кінець скидування***************/
/*********Header-nav begin*******************/

.content{
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.25;
}
#head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Poppins";  
}
nav a{
  margin: 9px;
}
#logo{
 margin: 23px 0;
}
nav{
  margin-right: 53px;
  margin-top: 29px;
}
nav a:hover{
  padding-bottom: 25px;
  border-bottom: 2px solid black;
}
/*********Header-nav end*******************/
/*********Header begin*******************/
#capsula{
  background: url(desk.png);
}
#section-header{
  background-color: rgba(0, 0, 0, 0.8);
}

#motto{
  color: #fff;
  font-size: 70px;
  font-family: "LibreBaskerville";
  text-align: center;
  padding: 157px 0px 0px 0px;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 1.5px;
  word-spacing: 5px;
}
.btn  button{
  color: #fff;
  border: 0 solid transparent;
  border-radius: 24px;
  padding: 12px 42px;
  font-size: 16px;
  font-family: "Poppins";
  background-color: rgb(252, 95, 69);
}
.btn {
 text-align: center;
 margin-top: 50px;
 margin-bottom: 75px;
}
.header-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 71%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-family: "Poppins";
  padding-bottom: 100px;
}

.header-img div>div{
  margin-top: 27px
}
.header-img-1{
  color: rgb(53,199,149);
}
.header-img-2{
  color: rgb(182,128,246);
}
.header-img-3{
  color: rgb(254,186,95);
}
/*********Header end*******************/
/*********About us begin*******************/
#about-us {
  padding-top: 150px;
}
#about-us .content{
  position: relative;
}
.left{
  display: block;
}
.right{
  border: 1px solid rgb(245,245,245);
  display: block;
  width: 550px;
  font-size: 15px;
  font-family: "Myriad Pro";
  line-height: 1.5;
  color: rgb(97, 97, 97);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 196px;
  left: 500px;
  background: #fff;
  z-index: 1;
  margin-top: 60px;
}
.right>div:first-child{
  background: url(img/01.png) no-repeat;
  background-position: top left; 
  padding: 75px 80px 50px 80px; 
}
.right span{
  display: block;
  font-size: 50px;
  font-family: "LibreBaskerville";
  color: rgb(49, 49, 49);
  font-weight: bold;
  padding-bottom: 25px;
}
#underline{
  background: url(img/lines.png);
  padding-top:2px;
}
/*********About us end*******************/
/*********Our focus begin****************/
#our-focus, #our-team{
  margin-top: 40px;
  background: rgb(247, 247, 247);
}
.center, .center-team {
  background: url(img/02.png) no-repeat;
  background-position: center top;
  text-align: center;
  padding-top: 135px;
}
.center h1, .center-team h1{
  font-size: 50px;
  font-family: "LibreBaskerville", "Playfair Display";
  margin-bottom: 20px;
}
.center p, .center-team p{
  font-size: 18px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
  margin-bottom: 20px
}
.skills, .members{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.logo{
  padding-top: 55px;
  margin-left: 115px;
}
.view{
  text-align: center;
  font-size: 15px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
  line-height: 1.667;
  padding:40px 20px 40px 20px;
}
.view h2{
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(49, 49, 49);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.skilss-bgc{
  background-color: #fff;
  margin-right: 20px;
  padding-top: 50px;
}
.skills div:last-child{
  margin-right: 0;
}
#skills-1 .logo{
  background: url(img/focus-img1.png) no-repeat;
}
#skills-2 .logo{
  background: url(img/focus-img2.png) no-repeat;
}
#skills-3 .logo{
  background: url(img/focus-img3.png) no-repeat;
}
#skills-4 .logo{
  background: url(img/focus-img4.png) no-repeat;
}
#skills-1 .fotter-line{
  background: url(img/line.png);
}
#skills-2 .fotter-line{
  background: url(img/line-copy.png);
}
#skills-3 .fotter-line{
  background: url(img/line-copy2.png);
}
#skills-4 .fotter-line{
  background: url(img/line-copy3.png);
}
.fotter-line{
  margin-top: 10px;
  padding-top: 2px;
}

#video-capsula {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 400px;
}

.background-wrap{
  position:absolute;
  width: 100%;
  height: 400px;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
}
#video-bg{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
#video-motto,.video-instr,.video-btn{
  position: absolute;
  z-index: 1000;
}

#video-motto{
  top:25%;
  left:31%;
  color: #fff;
  font-size: 32px;
  font-family: "Poppins";
  text-align: center;
  word-spacing: 5px;
}
.video-instr{
  top: 78%;
  left: 40%;
  font-family: "Poppins";
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.video-btn{
  top: 50%;
  left: 42%;
  margin-bottom: 20px;
}
/*********Our focus end****************/
/*********Portfolio begin****************/
#portfolio .content{
  background: url(img/03.png) no-repeat;
  background-position: top center;
  text-align: center;
  padding-top:150px;
}
#portfolio-moto{
  margin-bottom: 50px;
}
#portfolio-moto h1{
  font-size: 50px;
  font-family: "LibreBaskerville";
  font-weight: 500;
  margin-bottom: 25px;
}
#portfolio-moto p{
  font-size: 18px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
}
.portfolio-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  position: relative;
  padding: 1px 1px 1px 1px;
}
.magic{
  position: relative;
  width: 30%;
}
.portfolio-container>div{
  margin-bottom: 20px;
}
.overlay, .overlay-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
.portfolio-container div:hover .overlay {
  height: 25%;
}
.portfolio-container div:hover .overlay-bottom {
  height: 100%;
}
.plus, .btm {
  white-space: nowrap; 
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay-bottom{
  margin-bottom: 25px;
}
.btm{
  padding-bottom: 57px;
}
.overlay{
  background-color: #fff;
}
/*********Portfolio End****************/
/*********Our Taem begin****************/
.center-team{
  background: url(img/04.png) no-repeat;
  background-position: top center;
}
.members{
  display: flex;
  justify-content: space-between;
}
.foto{
  padding-top: 275px;
}
.member-bgc{
  background-color: #fff;
  width: 267px;
}

#member-1 .foto{
  background: url(img/member1.png) no-repeat;
}
#member-2 .foto{
  background: url(img/member1.png) no-repeat;
}
#member-3 .foto{
  background: url(img/member1.png) no-repeat;
}
#member-4 .foto{
  background: url(img/member1.png) no-repeat;
}
#member-1 .fotter-line{
  background: url(img/line.png);
}
#member-2 .fotter-line{
  background: url(img/line-copy.png);
}
#member-3 .fotter-line{
  background: url(img/line-copy2.png);
}
#member-4 .fotter-line{
  background: url(img/line-copy3.png);
}
.members .view{
  padding: 10px 20px 10px 20px;
}
.members .view h2{
  margin-bottom: 5px;
}
#member-1 .view h2{
  color: #FC5F44;
}
#member-2 .view h2{
  color: #36c796
}
#member-3 .view h2{
  color: #B37DF6
}
#member-4 .view h2{
  color: #FEBA60
}
.Team-block-for-member-1{
  display: flex;
  justify-content: space-between;
  background: url('img/TeamBackground.png') no-repeat;
  text-align: left;
  /*padding: 115px 240px 135px 105px;*/
  margin: auto;
  position: relative;
}
.Team-block-for-member-1 #text{
  font-size: 14px;
  font-family: "Poppins";
  line-height: 1.5;
  width: 600px;
  margin-top: 50px;
  margin-left: 70px;
  padding: 50px 1px 80px 40px;
}
.Team-block-for-member-1 #text h3{
  font-size: 24px;
  margin-bottom: 25px;
}

.Team-block-for-member-1 #to-links {
  padding: 130px 1px 1px 1px;
  margin: 75px 1px 1px 1px;
}
.Team-block-for-member-1 #links {
  font-size: 12px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
  padding: 110px 175px 1px 1px;
  margin: 75px 0px 1px 1px;
}
.Team-block-for-member-1 #links>div{
  margin-top: 5px;
}
div.vertical-line{
  width: 2px;
  background-color: #ececec;
  height: 135px;
  position: absolute;
  top: 44%;
  left: 76%;
}
#Team-block{
  display: none;
}
 div:hover #Team-block{
  display: block;
}

.fotter-line{
  margin-top: 10px;
  padding-top: 2px;
}
#our-team-footer{
  background: url(img/Statsbg.png);
  margin-top: 75px;
}
#shudown{
  background: rgba(0,0,0,.6);
}
#our-team-footer-common{
  padding: 100px 75px 50px 55px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.graph{
  margin-bottom: 25px;
  margin-left: 5px;
}
.first-column, .second-column, .third-column, .fourth-column{
  text-align: center;
}
.num{
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(254, 254, 254);
  margin-bottom: 25px;
}
.desc{
  font-size: 15px;
  font-family: "Poppins";
  color: rgba(254, 254, 254, 0.702);
  margin-bottom: 25px
}

/*********Our Taem End****************/
/*********Work Staps begin****************/

#work-steps {
  background: url(img/05.png) no-repeat;
  background-position: top center;
  position: relative;
  padding: 50px 0;
  margin-top: 25px;
  padding-top: 125px;
}
#work-steps h2.title {
  font-size: 50px;
  font-family: "LibreBaskerville";
  text-align: center;
  font-weight: bolder;
}
#work-steps .sub-title {
  text-align: center;
   font-size: 18px;
   font-family: "Poppins";
   color: rgb(97, 97, 97);
}
#work-steps .container {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
#work-steps .container .bg-item {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#work-steps .container .bg-item:nth-child(1) {
  background-image: url('img/bg11.png');
} 
#work-steps .container .bg-item:nth-child(2) {
  background-image: url('img/bg22.png');
} 
#work-steps .container .bg-item:nth-child(3) {
  background-image: url('img/bg33.png');
} 
#work-steps .container .bg-item:nth-child(4) {
  background-image: url('img/bg44.png');
}
#work-steps .feature-blocks-container {
  position: absolute;
  top: -50px;
  width: 100%;
}
#work-steps .feature-blocks-container .feature-block {
  width: 350px;
  height: 200px;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  position: relative;
  overflow: hidden;
}
#work-steps .feature-blocks-container .feature-block .number {
  width: 50px;
  padding: 15px;
  color: lightgrey;
  font-size: 36px;
  float: left;
}
#work-steps .feature-blocks-container .feature-block .text-content {
  width: calc(100% - 100px);
  padding: 10px 10px 10px 0;
  float: left;
  font-size: 14px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
}
.text-content h3{
  font-size: 20px;
  font-weight: bolder;
  margin: 20px 0;
}
#work-steps .feature-blocks-container .feature-block:nth-child(1) {
  margin-left: -40%;
  border-bottom-color: #FF0000;
}
#work-steps .feature-blocks-container .feature-block:nth-child(2) {
  margin-left: 70%;
  border-bottom-color: #4CAF50;
}
#work-steps .feature-blocks-container .feature-block:nth-child(3) {
  margin-left: -40%;
  border-bottom-color: #9C27B0;
}
#work-steps .feature-blocks-container .feature-block:nth-child(4) {
  margin-left: 70%;
  border-bottom-color: #FF9800;
}

@media (max-width: 991px) {
  #work-steps .feature-blocks-container .feature-block {
    margin: 15px 0 !important;
    width: 100%;
  }
  #work-steps .container .bg-item {
    display: none;
  }
}

@media (max-width: 767px) {
  #work-steps .container {
    width: 100% !important;
  }
}
/*********Work Staps end****************/