/*Скидування дефолтних налаштувань по методу Еріка Меєра*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
  color: black;
}
/*********Кінець скидування***************/
/*********Header-nav begin*******************/

.content{
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.25;
}
#head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Poppins";  
}
#logo{
 margin: 22px 32px;
}
input[type="checkbox"] {
    display: none;
}
nav label {    
    display: none;   
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}
nav label:hover {
    color: #32BA8C;
}
nav li {
  display: inline-block;
  vertical-align: top;
}
nav a {
  margin: 9px;
}
nav{
  margin-top: 29px;
}
nav a:hover {
  padding-bottom: 25px;
  border-bottom: 2px solid black;
}
.mobile-menu {
  display: none;
}
/*********Header-nav end*******************/
/*********Header begin*******************/
#capsula{
  background: url(desk.png);
}
#section-header{
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 73px;
}

#motto{
  color: #fff;
  font-size: 70px;
  font-family: "LibreBaskerville";
  text-align: center;
  padding: 157px 0px 0px 28px;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 1.5px;
  word-spacing: 5px;
}
.btn  button{
  color: #fff;
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 10px 40px;
  font-size: 16px;
  font-family: "Poppins";
  background-color: rgb(252, 95, 69);
  transition: .7s;
}
.btn {
 text-align: center;
 margin-top: 42px;
 margin-bottom: 83px;
}
.btn button:hover{
  color: rgb(252, 95, 69);
  background-color: #fff;
  border: 2px solid rgb(252, 95, 69);
}
.header-img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 68%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: "Poppins";
  padding-bottom: 100px;
}

.header-img div>div{
  margin-top: 27px
}
.header-img-1{
  color: rgb(53,199,149);
}
.header-img-2{
  color: rgb(182,128,246);
}
.header-img-3{
  color: rgb(254,186,95);
}
/*********Header end*******************/
/*********About us begin*******************/
#about-us {
  padding-top: 150px;
}
#about-us .content{
  position: relative;
}
.left{
  display: block;
}
.right{
  border: 1px solid rgb(245,245,245);
  display: block;
  width: calc(54% + 3px);
  font-size: 18px;
  font-family: "Myriad Pro";
  line-height: 1.5;
  color: rgb(97, 97, 97);
  position: absolute;
  bottom: 80px;
  left: calc(43% + 3px);
  background: #fff;
  z-index: 1;
  margin-top: 60px;
}
.right>div:first-child{
  background: url(img/01.png) no-repeat;
  background-position: top left; 
  padding: 75px 103px 59px 80px;
  height: 413px;
}
.right span{
  display: block;
  font-size: 55px;
  font-family: "LibreBaskerville";
  color: rgb(49, 49, 49);
  font-weight: bold;
  padding-bottom: 20px;
  letter-spacing: 3px;
}
#underline{
  background: url(img/lines.png);
  padding-top:2px;
}
/*********About us end*******************/
/*********Our focus begin****************/
.title{
  margin-bottom: 78px;
  text-align: center;
}
.title h1{
  font-size: 55px;
  font-family: "LibreBaskerville";
  font-weight: 900;
  margin-bottom: 23px;
  letter-spacing: 1.5px;
  margin-top: 15px;
}
.title p{
  font-size: 18px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
}
#our-focus{
  margin-top: 145px;
  background: rgb(247, 247, 247);
}
#our-focus>.content{
  background: url(img/02.png) no-repeat;
  background-position: center top;
}

.skills{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: calc(95%);
}
.logo{
  padding-top: 56px;
  margin: 0 auto;
  width: calc(21%)
}
.view{
  text-align: center;
  font-size: 15px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
  line-height: 1.667;
  padding: 0 20px 49px 20px;
}
.view h2{
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(49, 49, 49);
  margin-top: 10px;
  margin-bottom: 23px;
  font-weight: bolder;
}
.skilss-bgc{
  background-color: #fff;
  padding-top: 66px;
  width: calc(23% + 2px);
}
.skills div:last-child{
  margin-right: 0;
}
#skills-1 .logo{
  background: url(img/focus-img1.png) no-repeat;
}
#skills-2 .logo{
  background: url(img/focus-img2.png) no-repeat;
}
#skills-3 .logo{
  background: url(img/focus-img3.png) no-repeat;
}
#skills-4 .logo{
  background: url(img/focus-img4.png) no-repeat;
}
#skills-1 .fotter-line{
  background: url(img/line.png);
}
#skills-2 .fotter-line{
  background: url(img/line-copy.png);
}
#skills-3 .fotter-line{
  background: url(img/line-copy2.png);
}
#skills-4 .fotter-line{
  background: url(img/line-copy3.png);
}
.fotter-line{
  margin-top: 10px;
  padding-top: 2px;
}

#video-capsula {
  margin-top: 150px;
  position: relative;
  width: 100%;
  height: 500px;
}

.background-wrap{
  position:absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
}
#video-bg{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.video-desc{
  position: absolute;
  z-index: 1000;
  font-family: "Poppins";
  text-align: center;
  color: #fff;
  top: 30%;
  left: calc(35% + 2px);
}
#video-motto{
  font-size: 29px;  
  letter-spacing: 1px;
}
.video-btn{
  margin: 36px 0;
}
.video-instr{
  font-size: 15px;
}

/*********Our focus end****************/
/*********Portfolio begin****************/
#portfolio > .content{
  background: url(img/03.png) no-repeat;
  background-position: top center;
}

.portfolio-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  width: calc(95%);
}
.magic{
  position: relative;
  margin-bottom: 18px;;
}
.overlay, .overlay-bottom {
  width: 360px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
.portfolio-container div:hover .overlay {
  height: 25%;
}
.portfolio-container div:hover .overlay-bottom {
  height: 100%;
}
.plus, .btm {
  white-space: nowrap; 
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 'Poppins';
  text-align: center;
}
.overlay-bottom{
  margin-bottom: 25px;
}
.btm{
  padding-bottom: 57px;
}
.btm>div{
  width: 360px;
  padding: 22px 0;
  padding-bottom: 17px;
}
.overlay{
  background-color: #fff;
}
/*********Portfolio End****************/
/*********Our Taem begin****************/
#our-team {
  margin-top: calc(9% + 15px);
  background: rgb(247, 247, 247);
}
#our-team .title h1{
  margin-top: 7px;
} 
#our-team .content{
  background: url(img/04.png) no-repeat;
  background-position: top center;
}
.members{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(96%);
}
.foto{
  height: 270px;
}
.member-bgc{
  background-color: #fff;
  width: 263px;
}

#member-1 .foto{
  background: url(img/member1.png) no-repeat;
  background-size: cover;
}
#member-2 .foto{
  background: url(img/member1.png) no-repeat;
  background-size: cover;
}
#member-3 .foto{
  background: url(img/member1.png) no-repeat;
  background-size: cover;
}
#member-4 .foto{
  background: url(img/member1.png) no-repeat;
  background-size: cover;
}
#member-1 .fotter-line{
  background: url(img/line.png);
}
#member-2 .fotter-line{
  background: url(img/line-copy.png);
}
#member-3 .fotter-line{
  background: url(img/line-copy2.png);
}
#member-4 .fotter-line{
  background: url(img/line-copy3.png);
}
 .view-member{
  padding: 12px 20px 10px 33px;
  text-align: center;
  font-family: 'Poppins';
}
 .view-member h2{
  margin-bottom: 5px;
  font-size: 18px;
}
#member-1 .view-member h2{
  color: #FC5F44;
}
#member-2 .view-member h2{
  color: #36c796
}
#member-3 .view-member h2{
  color: #B37DF6
}
#member-4 .view-member h2{
  color: #FEBA60
}
.Team-block-for-member-1{
  display: flex;
  justify-content: space-between;
  background: url('img/TeamBackground.png') no-repeat;
  text-align: left;
  margin: auto;
  position: relative;
  padding-top: calc(3% + 15px);
  padding-left: calc(4% + 4px);
  height: 331px;
}
.Team-block-for-member-1 #text{
  font-size: 14px;
  font-family: "Poppins";
  line-height: 1.8;
  width: 605px;
  margin: auto;
  letter-spacing: 0.1px;
}
.Team-block-for-member-1 #text h3{
  font-size: 22px;
  margin-bottom: 22px;
}

.Team-block-for-member-1 #to-links {
  margin: auto 0;
  padding-top: 60px;
  padding-left: 78px;
}
.Team-block-for-member-1 #links {
  font-size: 12px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
  margin: auto;
  padding-top: 50px;
  padding-right: 80px;
}
.Team-block-for-member-1 #links>div{
  margin-top: 11px;
  font-size: 14px;
}
div.vertical-line{
  width: 2px;
  background-color: #ececec;
  height: 155px;
  position: absolute;
  top: 47%;
  left: calc(78% + 2px);
}
#Team-block{
  display: none;
  padding-left: 17px;
}
 div:hover #Team-block{
  display: block;
}

#our-team-footer{
  background: url(img/Statsbg.png);
  margin-top: calc(12% + 3px);
}
#shudown{
  background: rgba(0,0,0,.6);
  height: 464px;
}
#our-team-footer-common{
  padding: 100px 75px 50px 55px;
  width: calc(85% + 15px);
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 149px;
}
.graph{
  margin-bottom: 26px;
}
.first-column, .second-column, .third-column, .fourth-column{
  text-align: center;
}
.num{
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(254, 254, 254);
  margin-bottom: 25px;
  text-align: center;
  margin-left: 8px;
}
.desc{
  font-size: 15px;
  font-family: "Poppins";
  color: rgba(254, 254, 254, 0.702);
  margin-bottom: 40px;
  margin-left: 10px;
}

/*********Our Taem End****************/
/*********Work Staps begin****************/

#work-steps {
  background: url(img/05.png) no-repeat;
  background-position: top center;
  position: relative;
  margin-top: 5px;
  margin-bottom: calc(11% + 7px);
}
#work-steps .container {
  width: 46%;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
}
#work-steps .container .bg-item {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#work-steps .container .bg-item:nth-child(1) {
  background-image: url('img/bg11.png');
} 
#work-steps .container .bg-item:nth-child(2) {
  background-image: url('img/bg22.png');
} 
#work-steps .container .bg-item:nth-child(3) {
  background-image: url('img/bg33.png');
} 
#work-steps .container .bg-item:nth-child(4) {
  background-image: url('img/bg44.png');
}
#work-steps .feature-blocks-container {
  position: absolute;
  top: -50px;
  width: 100%;
}
#work-steps .feature-blocks-container .feature-block {
  width: 460px;
  height: 297px;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  position: relative;
  overflow: hidden;
}
#work-steps .feature-blocks-container .feature-block .number {
  width: 50px;
  padding: 25px;
  padding-left: 45px;
  color: lightgrey;
  font-size: 55px;
  font-weight: bolder;
  float: left;
}
#work-steps .feature-blocks-container .feature-block .text-content {
  width: calc(56%);
  padding: 29px 10px 10px 0;
  float: left;
  font-size: 14px;
  line-height: 2;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
}
.text-content h3{
  font-size: 20px;
  font-weight: bolder;
  margin-top: 6px;
}
#work-steps .feature-blocks-container .feature-block:nth-child(1) {
  margin-left: -54%;
  border-bottom-color: #FF0000;
}
#work-steps .feature-blocks-container .feature-block:nth-child(2) {
  margin-left: 70%;
  border-bottom-color: #4CAF50;
}
#work-steps .feature-blocks-container .feature-block:nth-child(3) {
  margin-left: -54%;
  border-bottom-color: #9C27B0;
}
#work-steps .feature-blocks-container .feature-block:nth-child(4) {
  margin-left: 70%;
  border-bottom-color: #FF9800;
}

/*********Work Staps end****************/
/*********Pricing table begin***********/
#pricing-table{
  background: rgb(247, 247, 247);
  padding-bottom: calc(10%);
}
.pricing-header{
  background: url(img/06.png) no-repeat;
  background-position: top center;
}
.proposition{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 30px;
  font-family: "Poppins";
  color: rgb(49, 49, 49);
}
.bg-price-column h1{
  font-size: 20px;
  font-weight: bolder;
  padding: 25px 0;  
}
.price{  
  color: #fff;
  padding-top: 35px;
  padding-bottom: 34px;
}
.price p:first-child{
  font-size: 24px;
}
.price p:last-child{
  font-size: 14px;
}
.starter .price{
  background: url(img/bgGreen.png) no-repeat;
  background-position: top center;
}
.starter{
  border-top: 3px solid #36C796;
}
.unlimate .price{
  background: url(img/bgred.png) no-repeat;
  background-position: top center;
}
.unlimate{
  border-top: 3px solid #FC5F44;
}
.professional .price{
  background: url(img/bgP.png) no-repeat;
  background-position: top center;
}
.professional{
  border-top: 3px solid #b37df6;
}
.bg-price-column{
  background: #fff;
  padding: 0 78px;
  padding-bottom: 50px;
}
.about-price{
  padding: 33px 0;
}
.about-price p{
  margin-bottom: 20px;
}
.about-price p:last-child{
  margin-bottom: 0;
}
.about-price p:nth-child(3), .about-price p:nth-child(4),.about-price p:nth-child(5){
  margin-bottom: 16px;
 
}
.about-price span{
  font-weight: bolder;
}
.btn-price{
  font-size: 17px;
  font-family: "Poppins";
  border-radius: 30px;
  padding: 10px 40px;
  transition: .7s;
}
.starter .btn-price{
  background: #fff;
  color: #36C796;
  border: 2px solid #36C796;
}
.starter .btn-price:hover{
  background: #36C796;
  color: #fff;
}
.unlimate .btn-price{
  background: #FC5F44;
  color: #fff;
  border: 2px solid #FC5F44;
}
.unlimate .btn-price:hover{
  background: #fff;
  color: #FC5F44;
}
.professional .btn-price{
  background: #fff;
  color: #B37DFB;
  border: 2px solid #B37DFB;
}
.professional .btn-price:hover{
  background: #B37DFB;
  color: #fff;
}
/*********Pricing table end***********/
/*********Testimonials begin***********/
#testimonials{
  background: url(img/conferenceroom.png);
  font-family: "Poppins";
  color: #fff;
}
.testimonials-shudown{
  background: rgba(0,0,0,0.8);
  padding-bottom: calc(9% + 9px);
}
.testimonials-header{
  background: url(img/07.png) no-repeat;
  background-position: top center;
}
.bar-testimonials-content{
  display: flex;
}
.central-testimonials{
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.melina-motto{
  background: #fff;
  height: 100%;
  color: #000;
  margin-top: 44px;
  padding: 34px 46px 25px 40px;
  text-align: left;
  border-bottom: 2px solid rgb(252, 95, 69);
  padding-bottom: 36px;
  position: relative;
}
.melina-motto blockquote{
  position: relative;
  font-size: 15px;
  font-family: "Poppins";
  color: rgb(97, 97, 97);
  line-height: 1.8;
}
.melina-motto blockquote:before, .melina-motto blockquote:after {
  content: "\201D"; 
  opacity: .6;
  font-family: Georgia, serif;
  font-size: 200px;
  font-weight: bold;
  color: #f2f2f2;
  position: absolute;
  left: 88%;
  top: 88%;
}
.melina-motto blockquote:after {
  content: "\201C"; 
  left: -5%;
  top:-112%;
}
.melina-motto p:nth-child(2){
  font-size: 40px;
  font-family: "Tangerine";
  color: rgb(39, 39, 39);
  margin-top: 27px;
}
.melina-motto p:nth-child(3){
   font-size: 18px;
   font-family: "Poppins";
   color: rgb(39, 39, 39);
   margin-top: 9px;
}
.melina-motto p:nth-child(4){
    font-size: 13px;
    font-family: "Poppins";
    color: rgb(252, 95, 69);
    margin-top: 7px;  
}
.melina-img{
  border: 7px solid grey;
}
.bar-testimonials {
  position: absolute;
  top: 91%;
  left: calc(84% + 26px);
}

.button {
  float: left;
  background: transparent;
  border: 1px solid #fff;
  width: 12px;
  height: 11px;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  }
.button:hover {
  border-color: rgb(252, 95, 69);
  cursor: pointer;
}
.button:hover a{
  display: block;
}
 .button a {
  background: rgb(252, 95, 69);
  border-radius: 8px;
  width: 6px;
  height: 6px;
  margin: 2.4px auto;
  display: none;
}
/*********Testimonials end***********/
/*********Why select us? begin***********/
.why-us{
  background: url(img/08.png) no-repeat;
  background-position: top center;
  font-family: "Poppins";
}
.why-us-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: calc(90% + 87px);
  margin: auto;
}
.why-us-content>div{
  width: 316px;
  margin-bottom: 70px;
}
.why-us-content>div img{
  float:left;
  padding-right: 19px;
}
.why-us-content span{
  font-size: 18px;
  color: rgb(39, 39, 39);
  font-weight: bolder;
}
.why-us-content p{
  clear: both;
  font-size: 15px;
  margin-top: 35px;
  line-height: 25px;
}
.bnt-why-us{
  text-align: center;
  margin-top: 1px;
}
.bnt-why-us>div{
  display: inline-block;
}
.bnt-why-us div:first-child{
  font-size: 25px;
  margin-right: 25px;
}
.bnt-why-us button{
  padding: 14px 41px;
  border-radius: 30px;
  border: 2px solid transparent;
  background: rgb(252, 95, 69);
  color: #fff;
  font-weight: bolder;
  transition: .7s;
}
.bnt-why-us button:hover{
  color: rgb(252, 95, 69);
  background: #fff;
  border-color: rgb(252, 95, 69);
}
/*********Why select us? end***********/
/*********Our blog begin***********/
#our-blog{
  background: rgb(247, 247, 247);
  margin-top: 30px;
}
#our-blog .content{
  background: url(img/09.png) no-repeat;
  background-position: top center;
  width: calc(84% + 3px);
  margin: 0 auto;
  font-family: "Poppins";
}
.left-column{
  float: left;
  width: calc(48% + 9px);
  border-bottom: 3px solid #FC5F44;
}
.right-column{
  float: left;
  width: calc(50% + 10px);
}
/***clearfix for our-blog-content****/
.our-blog-content:before,.our-blog-content:after{
  content: '';
  display: table;
}
.our-blog-content:after {
  clear: both;
}
.our-blog-content {
  clear: both;
  *zoom: 1;
} 
/***********************************/
.left-column-legend{
  background: url(img/our_blog.png) no-repeat;
  height: 443px;
  position: relative;
  width: 555px;
}
.left-column-legend div{
  position: absolute;
}
.left-column-legend div:first-child{
  bottom: 5%;
  left: 4%;
  font-size: 15px;
  color: #FC5F44;
}
.left-column-legend div:last-child{
  bottom: 5%;
  left: 19%;
  font-size: 13px;
  color: #fff;
}
.our-blog-content-mess{
  padding: 24px 30px 24px 30px;
  background: #fff;
  margin-bottom: 24px;
  margin-left: 31px;
  line-height: 27px;
}
.left-column-content{
  padding: 24px 45px 34px 52px;
  background: #fff;
  line-height: 27px;
}
.mess-author{
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
}
.mess-date{
  font-size: 13px;
  display: inline-block;
  margin-left: 22px;
}
.right-column .mess-header{
  font-size: 18px;
  color: rgb(39, 39, 39);
  font-weight: bolder;
  margin: 10px 0;
}
.left-column-content .mess-header{
  line-height: 35px;
  font-size: 18px;
  color: rgb(39, 39, 39);
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 17px;
}
.mess-content{
  font-size: 15px;
}
.left-column .mess-content a{
  font-weight: bolder;
}
.right-column .our-blog-content-mess:first-child .mess-author,
.right-column .our-blog-content-mess:first-child .mess-content a{
  color: #36C796;
}
.right-column .our-blog-content-mess:first-child{
  border-bottom: 3px solid #36C796;
}
.right-column .our-blog-content-mess:nth-child(2) .mess-author,
.right-column .our-blog-content-mess:nth-child(2) .mess-content a{
  color: #B37DF6;
}
.right-column .our-blog-content-mess:nth-child(2){
  border-bottom: 3px solid #B37DF6;
}
.right-column .our-blog-content-mess:nth-child(3) .mess-author,
.right-column .our-blog-content-mess:nth-child(3) .mess-content a{
  color: #FEBA60;
}
.right-column .our-blog-content-mess:nth-child(3){
  border-bottom: 3px solid #FEBA60;
}
a span{
  font-size: 10px;
  letter-spacing: -3px;
}
.subscribe-area{
  background: #fff;
  margin-top: calc(9% + 6px);
  text-align: center;
  font-family: "Poppins";
  padding: 147px 0;
}
.area button{
  padding: 13px 30px;
  border-radius: 0 30px 30px 0;
  border: 2px solid transparent;
  background: rgb(252, 95, 69);
  color: #fff;
  font-weight: bolder;
  transition: .7s;
}
.area button:hover{
  color: rgb(252, 95, 69);
  background: #fff;
  border-color: rgb(252, 95, 69);
}
.area input{
  margin-right: -7px;
  padding: 13px 53px;
  border-radius: 30px 0 0 30px;
  font-size: 15px;
  border: 0.5px solid #eaeaea;
 }
 .area h1{
  font-size: 29px;
  margin-bottom: 49px;
}
/*********Our blog end***********/
/*********getInTouch begin***********/
#getInTouch {
  background-image: url('img/forest.png');
  background-position: center;
  height: 1278px;
  font-family: "Poppins";
  margin-top: 7px;
}
#getInTouch .content {
  background: url(img/10.png) no-repeat;
  background-position: top center;
}
#getInTouch .get-in-touch-form {
  width: 63%;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}
#getInTouch .get-in-touch-form input {
  width: calc(50% - 25px);
  height: 25px;
  padding: 9px 4px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  text-align: center;
  font-family: "Poppins";
  letter-spacing: 1.2px;
}
#getInTouch .get-in-touch-form input:nth-child(even) {
  float: right;
}
#getInTouch .get-in-touch-form input:nth-child(odd) {
  float: left;
}
#getInTouch .get-in-touch-form textarea {
  width: calc(100% - 25px);
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  resize: none;
  text-align: center;
  font-family: "Poppins";
  height: 175px;
}
#getInTouch .get-in-touch-form button{
  padding: 15px 33px;
  border: 2px solid transparent;
  border-radius: 30px;
  background: rgb(252, 95, 69);
  color: #fff;
  font-weight: bolder;
  letter-spacing: 1px;
  transition: .7s;
  margin-top: 45px;
  margin-bottom: 85px;
}
#getInTouch .get-in-touch-form button:hover{
  color: rgb(252, 95, 69);
  background: #fff;
  border-color: rgb(252, 95, 69);
}

 #getInTouch .contacts {
  display: table;
  width: 95%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 77px;
  color: #fff;
}
#getInTouch .contacts .contacts-block {
  box-sizing: border-box;
  height: 211px;
  width: calc(27% - 23px);
  float: left;
  text-align: left;
  display: inline-block;
  border-bottom: 2px solid;
  padding: 15px;
  font-size: 13px;
}
#getInTouch .contacts .contacts-block .contact-logo {
  width: 60%;
  vertical-align: middle;
  margin-top: 60px;
  margin-left: 50px;
}
#getInTouch .contacts .contacts-block p {
  font-size: 18px;
  margin: 33px 0;
  margin-left: 27px;
}
#getInTouch .contacts .contacts-block>div{
  line-height: 26px;
  font-size: 15px;
  margin-left: 26px;
}
.contacts-block>div img{
  margin-left: 11px;
}
#getInTouch .contacts .contacts-block:nth-child(1) {
  border-bottom-color: #FC5F44;
}
#getInTouch .contacts .contacts-block:nth-child(2) {
  border-bottom-color: #36C796;
}
#getInTouch .contacts .contacts-block:nth-child(3) {
  border-bottom-color: #B37DF6;
}
#getInTouch .contacts .contacts-block:nth-child(4) {
  border-bottom-color: #FEBA60;
}
#getInTouch .contacts .contacts-block:nth-child(2) p {
  color: #36C796;
}
#getInTouch .contacts .contacts-block:nth-child(3) p {
  color: #B37DF6;
}
#getInTouch .contacts .contacts-block:nth-child(4) p {
  color: #FEBA60;
}

/*@media (max-width: 991px) {
  #getInTouch .contacts,
  #getInTouch .get-in-touch-form {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #getInTouch .contacts .contacts-block {
    width: calc(50% - 30px);
  }
  #getInTouch .contacts .contacts-block .contact-logo {
    margin: 0;
  }
}*/