@media (max-width: 1200px) {
  .content{
    width: 91%;
  }
  #about-us {
    padding-top: 0px;
  }
  #our-focus, #video-capsula, #our-team {
    margin-top: -5px;
  }
  #portfolio>.content {
    padding-top: 0;
  }
  /*.portfolio-container{
    display: block;
  }
  .portfolio-container .magic{
    width: 293px;
    display: inline-block;
  }
  .portfolio-container .magic:nth-child(7),
  .portfolio-container .magic:nth-child(8),
  .portfolio-container .magic:nth-child(9){
    margin-bottom: 0;
  }*/

  .portfolio-container{
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .portfolio-container .magic{
    width: 30%;
    display: inline-block;
    margin: 0 auto;
  }
  .magic img{
    width: 100%;
  }
  .overlay, .overlay-bottom{
    width: 100%;
  }

  .Team-block-for-member-1 #to-links{
    padding-left: 8px;
  }
  #our-team-footer{
    margin-top: 0;
  }    
  #work-steps{
    margin-bottom: 0;
  }
  #work-steps .feature-blocks-container .feature-block:nth-child(2),
  #work-steps .feature-blocks-container .feature-block:nth-child(4){
    margin-left: 53%;
  }
  #pricing-table{
    padding-bottom: 0;
  }
  #pricing-table .bg-price-column{
    padding: 0 65px;
    padding-bottom: 25px;
  }
  #testimonials .melina-motto blockquote:after{
    top: -75%;
  }
  #testimonials .melina-motto blockquote:before{
    left: 82%;
  }
  .bar-testimonials{
    top: 93%;
    left: calc(83% + 25px);
  }
  .why-us-content{
    margin: 0 auto;
  }
  .bnt-why-us{
    margin-top: -80px;
    margin-bottom: -80px;
  }
  #our-blog{
    margin-top: 0;
  }
  #our-blog .content{
    width: 100%;
  }
  .left-column-legend{
    height: 440px;
    width: 100%;
  }
  .subscribe-area{
    margin-top: 0;
    padding: 0;
    padding-top: 25px;
  }
  #getInTouch{
    margin-top: 0;
  }
  #getInTouch .contacts .contacts-block{
    width: calc(27% - 19px);
  }
  #getInTouch .contacts .contacts-block>div,
  #getInTouch .contacts .contacts-block p{
    margin-left: 0;
  }
  #getInTouch .contacts .contacts-block{
    width: 25%;
  }
}

@media (max-width: 960px) {
    .content{
    width: 100%;
   }
    nav label{
    display: inline-block;
  }
  nav > ul {
    display: none;
  }
  .mobile-menu div {
    border-top: 1px solid lightgrey;
    padding: 15px;
    text-align: center;
  }
  input[type="checkbox"] ~ .mobile-menu {
    height: 0;
    display: block;
    transition: height 1s;
    overflow: hidden;
    font-family: 'Poppins';
  }
  input[type="checkbox"]:checked ~ .mobile-menu {
    display: block;
    height: 425px; 
  }
  nav a:hover{
    border-bottom: none;
    text-decoration: underline;
  }
  #motto, .right span{
    font-size: 55px;
  }
  .right {
    width: 71%;
    left: 25%;
  }
  .right>div:first-child {
    height: 300px;
  }
  .title{
    margin-bottom: 35px;
  }
  .title h1{
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: -50px;
  }
  #our-team .title h1 {
    margin-top: -50px;
  }
  .skills{
    display: block;
    width: 100%;
  }
  .skills .logo{
    margin-left: 40%;
  }
  .skilss-bgc{
    width: 35%;
    margin-top: 15px;
    display: inline-block;
    margin-left: 15px;
  }
  
  .portfolio-container .magic{
    width: 49%;
  }
  .members{
    display: block;
    width: 80%;
    margin: 0 auto;
    
  }
  .member-bgc{
    width: 49%;
    display: inline-block;
    margin: 0 auto;
  }
  #links{
    padding-top: 50px;
    padding-right: 0px;
  }
  #to-links{
    padding-left: 0px;
  }
  #vertical-line{
    height: 155px;
    position: absolute;
    top: 43%;
    left: calc(87% + 4px);
  }
  #work-steps .feature-blocks-container{
    position: relative;
  }
  #work-steps .feature-blocks-container .feature-block {
    margin: 15px 0 !important;
    width: 100%;
  }
  #work-steps .container .bg-item {
    display: none;
  }

  .proposition{
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .bg-price-column{
    width: 25%;
    display: inline-block;
    margin: 0 auto;
  }
  .melina-img {
    border: none;
  }
  #testimonials .melina-motto blockquote:after{
    top: -35%;
  }
  #testimonials .melina-motto blockquote:before{
    left: 75%;
  }
  .bar-testimonials{
    top: 100%;
    left: calc(80% + 15px);
  }
  .why-us.content{
    width: 90%;
  }
  .left-column-legend{
    display: none;
  }
  .left-column{
    width: calc(88% + 9px);
    margin: 0 auto;
    margin-left: 31px;
    border-bottom: none;
  }
  .our-blog-content-mess{
    margin-bottom: 0;
  }
  .right-column .our-blog-content-mess:nth-child(n) {
    border-bottom: 3px solid transparent;
  }
  .right-column{
    width: calc(93%);
  }
  #getInTouch .contacts .contacts-block{
    padding: 0;
  }
  #getInTouch .contacts,
  #getInTouch .get-in-touch-form {
    width: 100%;
  }

}

@media (max-width: 740px) {
  .title{
    margin-bottom: 25px;
  }
  .title h1{
    font-size: 40px;
    margin-top: -90px;
  }
  .title p{
    font-size: 16px;
  }
  #motto{
    padding: 100px 0px 0px 28px;
  }
   #motto, .right span{
    font-size: 40px;
   }
   .btn{
    margin-bottom: 42px;
   }
   .btn  button{
    padding: 10px 30px;
    font-size: 14px;
   }
   .header-img{
    font-size: 13px;
    padding-bottom: 50px;
    width: 100%;
   }
   .header-img div>div{
    margin-top: 18px
    }
    #section-header{
      padding-bottom: 0px;
    }
    #our-focus>.content,
    #portfolio > .content,
    #our-team .content,
    #work-steps,
    .pricing-header,
    .testimonials-header,
    .why-us,
    #our-blog .content,
    #getInTouch .content{
      background: none;
    }
    .left{
      display:none;
    }
    .right>div:first-child{
      padding: 10px 25px 0px 45px;
      background: none;
    }
    .right{
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto;
      width: 100%;
    }
    .skilss-bgc {
       width: 45%;
       margin-top: 0;
       padding-top: 0px;
    }
    .fotter-line{
      padding-top: 0;
    }
    #underline{
      padding-top: 0;
    }
    #video-capsula{
      display: none;
    }
    .portfolio-container, .members{
      width: 95%;
    }
    .bg-price-column {
    width: 30%;
    }
    .bar-testimonials {
    left: calc(77% + 4px);
    }
    .left-column-legend div:last-child{
      bottom: 1%;
      left: 6%;
    }
    #shudown{
      height: 320px;
    }
    #our-team .title h1 {
    margin-top: -90px;
    }   
    #our-team-footer-common{
      padding-top: 75px;
    }
    #work-steps .feature-blocks-container .feature-block:nth-child(n){
      border: none;
    }
    .melina-img{
      display: none;
    }
    .melina-motto blockquote:before, 
    .melina-motto blockquote:after{
      content: '';
    }
    .bnt-why-us div:first-child{
      font-size: 21px;
    }
    .bnt-why-us button{
      padding: 10px 29px;
    }
    #work-steps .container {
      width: 100% !important;
    }
    #work-steps .feature-blocks-container .feature-block{
      height: 220px;
    }
    #work-steps .feature-blocks-container .feature-block .text-content{
      font-size: 15px;
    }
    .proposition{
      width: 95%;
    }
    .about-price p {
      margin-bottom: 10px;
    }
    .about-price p:nth-child(3), .about-price p:nth-child(4), .about-price p:nth-child(5) {
      margin-bottom: 8px;
    }
    
}

@media (max-width: 320px) {
  .content{
    width: 100%;
  }
  .title h1 {
    font-size: 35px;
  }
  .title p {
    font-size: 15px;
}
  #motto, .right span {
    font-size: 30px;
  }
  .btn button {
    font-size: 13px;
  }
  .right>div:first-child {
    height: 600px;
    overflow: hidden;
}
  .skilss-bgc{
    margin-left: 0px;
    width: 100%;
  }
  .portfolio-container .magic {
    width: 100%;
  }
  .portfolio-container, .members {
    width: 100%;
  }
  .member-bgc {
    width: 100%;
  }
  .num {
    font-size: 18px;
  }
  #our-team-footer-common{
    width: 100%;
    padding: 0;
    padding-top: 70px;
  }
  .num {
    font-size: 17px;
    margin-left: 0;
  }
  .desc {
    font-size: 14px;
    margin-left: 0;
  }
  #work-steps .feature-blocks-container .feature-block .text-content {
    line-height: 1.2;
  }
  .text-content h3 {
    font-size: 18px;
  }
  .proposition{
    padding: 0;
  }
  #pricing-table .bg-price-column {
    padding: 0
  }
  .bg-price-column {
    width: 100%;
    border-top: none;
  }
  .btn-price{
    font-size: 16px;
    padding: 6px 27px;
  }
  .melina-motto{
    margin-top: 10px;
  }
  .bar-testimonials {
    left: calc(25%);
  }
  .why-us-content{
    width: 87%
  }
  .bnt-why-us div:first-child {
    font-size: 18px;
    margin-right: 0;
  }
  .bnt-why-us button{
    margin-top: 10px;
  }
  .left-column {
    width: 100%;
    margin-left: 0;
  }
  .left-column-content .mess-header, .right-column .mess-header {
    line-height: 25px;
    font-size: 17px;
  }
  .left-column-content {
    padding-left: 15px;
    line-height: 22px;
  }
  .mess-content {
    font-size: 14px;
  }
  .right-column {
    width: 100%;
  }
  .our-blog-content-mess {
    padding: 0;
    margin-left: 0;
  }
  .right-column .our-blog-content-mess:nth-child(n){
    padding-left: 15px;
  }
  .mess-date{
    margin-left: 0;
  }
  .area{
    font-size: 13px;
  }
  .area h1 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .area input {
    padding: 13px 0px;
    font-size: 13px;
    text-align: center;
  }
  .area button {
    padding: 13px 0px;
    font-size: 11px;
  }
  #getInTouch .get-in-touch-form input:nth-child(n) {
    float:none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  #getInTouch .get-in-touch-form button {
    padding: 12px 20px;
    margin-top: 25px;
    margin-bottom: 55px;
    font-size: 13px;
  }
  #getInTouch .contacts .contacts-block .contact-logo{
    margin-left: 0px;
  }
  #getInTouch .contacts .contacts-block>div {
    line-height: 13px;
    font-size: 10px;
  }
  #getInTouch .contacts .contacts-block p {
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .contacts-block>div img{
    margin-left: 1px;
    height: 10px;
  }
}
